APP_NAME=API
ADMIN_EMAIL=admin@example.com
DB_HOST=127.0.0.1
DB_NAME=kanejitech_ecommerce_db4
DB_USER=root
DB_PASSWORD=
MAIL_SERVICE=mailtrap
X_TOKEN=123456
PAYSTACK_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
